.Your-bark {

    margin-top: 100px;
}

.imageIcon {
    width: 20px;
    height: 20px;
}

.Your-bark-icon-Wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}