@import "../abstracts/mixins";

.Your-bark {
  margin-top: 115px;

  @include bark-button;
  .Your-bark-popup-button {
    color: white !important;
    border: 3px solid $outline-blue !important;
    background-color: $nav-background !important;
  }
}

.imageIcon {
  width: 20px;
  height: 20px;
}

.Your-bark-icon-Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(33, 127, 153);
  border: solid 3px $outline-blue;
  filter: hue-rotate(45deg);

  .Your-bark-input {
    color: white;
    background-color: rgb(65, 184, 235);
    @include bark-button;
    ::placeholder {
      color: white;
    }
  }

  .Your-bark-button {
    filter: hue-rotate(0deg) !important;
    border: solid 3px $bright !important;

    background-color: $nav-background !important;
    color: white !important;

    &:hover {
      border: solid 3px $outline-green !important;
      color: rgb(31, 143, 102) !important;
    }
  }
}
