@import "../abstracts/_colors.scss";

.foot-wrapper {
    width: 100%;
    background-color: $nav-background;
    color: white;
    margin-top: 185px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #attributes-div {
        border-left: 1px solid #5e5e6e;
        padding-left: 2rem;
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    #cred-list {
        column-count: 2;

    }
    li {
        list-style: none;
        margin-bottom: 10px;
        font-size: 14px;

        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: $nav-background-hover;
            }
        }
    }

    @media screen and (max-width: 1217px) {
        padding-left: 50px;
    }
        
    }
