.post-Wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #190743;

    .link-to-Member {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        margin: 10px;
        padding-left: 20px;
        position: relative;
        top: 0;
        left: 0;
    }
    .content-Text {
        text-align:center
    }

    .content-Photo {
        width: 100%;
        height: 100%;
        margin: 10px;
        padding: 10px;
        border: 1px solid #190743;
        border-radius: 10px;
        background-color: #190743;
        position: relative;
        top: 0;
        left: 0;
    }



    .like-And-Barks-Wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
            .likeButton {
            width: 20px;
            height: 20px;

            &:hover {
                cursor: pointer;
            }
        }
            .barkButton {
                background-color: transparent;
                border: none;
                color:white;
                font-size: 15px;

                &:hover {
                    cursor: pointer;
                }
            }

            .bark-Field-Wrapper {
               margin: 10px;
            }
            
            

}
.MembersProfilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0;
}
}


