@import "../abstracts/colors";
@import "../abstracts/mixins";

.sideMenuWrapper {
  position:fixed;
  margin-top: 115px;
  width: 150px;
  height: 100vh;
  background-color: $nav-background;
  display: flex;
  flex-direction: column;
  

  @include nav-button;

  button {
    width: 150px;
  }
}
