$nav-background: #252536;
$nav-background-hover: #252536;
$transparent: #0000;
$html-background: #9bb1f3;
$outline-blue: #008cff;
$outline-green: #3ceb70;
$golden-dog: #e6d377;
$dark-red: #128e90;
$bright: #f1ffb9ee;
