@import "../abstracts/_colors";

.memberPageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  

  .memberPage {
    width: 600px;
    border-radius: 5px;
    width: 900px;
    padding: 130px 15px 15px 15px;
    color: #fff;
    background-color: $nav-background-hover;
  }
}

.filler-div {
    @media screen and (max-width: 1217px) {
        width: 50px;
    }
        
    }

