@import "../sass/abstracts/colors";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-image: url("https://img.freepik.com/free-vector/cute-pattern-with-dog-faces-bones_1191-1204.jpg?t=st=1682060916~exp=1682061516~hmac=30264d223acacb56e65fa0a76bbc4be7209a2e30a784aaa3a81471b7e6909ce0");
  background-attachment: fixed;
}
